alembic
asttokens
attrs
backcall
boto3
botocore
cached-property
certifi
chardet
charset-normalizer
click
colorama
coloredlogs
comm
contourpy
croniter
cycler
dagster
datapackage
debugpy
decorator
docstring-parser
et-xmlfile
exceptiongroup
executing
Faker
fire
fiona
fonttools
GDX2py
gdxcc
geopandas
grpcio
grpcio-health-checking
highspy
humanfriendly
idna
ijson
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isodate
jedi
jill
Jinja2
jmespath
joblib
jsonlines
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kaleido==0.1.0post1
kiwisolver
linear-tsv
Mako
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
networkx
numpy
openpyxl
packaging
pandas
parso
pendulum
pickleshare
Pillow
platformdirs
plotly
ply
prompt-toolkit
protobuf
psutil
pure-eval
Pygments
PyMySQL
pyodbc
Pyomo
pyparsing
pyreadline3
PySide6
PySide6-Addons
PySide6-Essentials
python-dateutil
python-gnupg
pytz
pytzdata
pywin32
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-futures
rfc3986
rpds-py
Rx
s3transfer
scikit-learn
scipy
searoute
semantic-version
shapely
shiboken6
six
spine-engine
spine-items
spinedb-api
spinetoolbox==0.10.2
squarify
SQLAlchemy
stack-data
streamlit
tableschema
tabulate
tabulator
termcolor
threadpoolctl
toposort
tornado
tqdm
traitlets
tsam
typing-compat
typing_extensions
tzdata
unicodecsv
urllib3
watchdog
wcwidth
wget
xlrd
zipp