alembic==1.12.0
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
boto3==1.28.47
botocore==1.31.47
cached-property==1.5.2
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==7.1.2
colorama==0.4.6
coloredlogs==14.0
comm==0.1.4
contourpy==1.1.0
croniter==1.4.1
cycler==0.11.0
dagster==0.12.8
datapackage==1.15.2
debugpy==1.8.0
decorator==5.1.1
docstring-parser==0.15
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
Faker==19.6.1
fire==0.5.0
fonttools==4.42.1
GDX2py==2.1.1
gdxcc==8.33.2.post1
geopandas==0.12.2
grpcio==1.58.0
grpcio-health-checking==1.48.2
highspy==1.5.3
humanfriendly==10.0
idna==3.4
ijson==3.2.3
importlib-metadata==6.8.0
importlib-resources==6.0.1
ipykernel==6.25.2
ipython==8.15.0
ipython-genutils==0.2.0
isodate==0.6.1
jedi==0.19.0
jill==0.11.5
Jinja2==2.11.3
jmespath==1.0.1
joblib==1.3.2
jsonlines==4.0.0
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.1
kaleido==0.1.0post1
kiwisolver==1.4.5
linear-tsv==1.1.0
Mako==1.2.4
MarkupSafe==2.0.1
matplotlib==3.7.3
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
networkx==3.1
numpy==1.25.2
openpyxl==3.1.2
packaging==23.1
pandas==2.1.0
parso==0.8.3
pendulum==2.1.2
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
plotly==5.24.1
ply==3.11
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.1
pure-eval==0.2.2
Pygments==2.16.1
PyMySQL==1.1.0
pyodbc==4.0.39
Pyomo==6.6.2
pyparsing==3.1.1
pyreadline3==3.4.1
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
python-dateutil==2.8.2
python-gnupg==0.5.1
pytz==2023.3.post1
pytzdata==2020.1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
referencing==0.30.2
requests==2.31.0
requests-futures==1.0.1
rfc3986==2.0.0
rpds-py==0.10.3
Rx==1.6.3
s3transfer==0.6.2
scikit-learn==1.3.0
scipy==1.11.2
searoute==1.0.9
semantic-version==2.10.0
shapely==2.0.1
shiboken6==6.5.2
six==1.16.0
spine-engine==0.23.0
spine-items==0.21.0
spinedb-api==0.30.0
spinetoolbox==0.7.0
squarify==0.4.4
SQLAlchemy==1.3.24
stack-data==0.6.2
streamlit
tableschema==1.20.2
tabulate==0.9.0
tabulator==1.53.5
termcolor==2.3.0
threadpoolctl==3.2.0
toposort==1.10
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.0
tsam==2.3.1
typing-compat==0.1.0
typing_extensions==4.7.1
tzdata==2023.3
unicodecsv==0.14.1
urllib3==1.26.16
watchdog==3.0.0
wcwidth==0.2.6
wget==3.2
xlrd==2.0.1
zipp==3.16.2